doctype html
html
    head
        title #{locals.title}
        meta(charset="utf-8")

        base(href=".")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style.
            html, body {
                height: 100%;
                background-color: red;
            }

    body

        h1 #{locals.title}

        app-root

        script(
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous")
